body,html{height: 100%; width: 100%; margin: 0;}
a, a:link, a:hover, a:active, a:visited
{
    display: flex;
    margin: 10px;
    text-decoration: none;
    color:blue;
}

.list-section
{
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}
.list-section-container
{
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    height: 80vh;
    display:flex;
    flex-direction: column;
}
.list-section-student
{
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    padding: 10px;
}